.secret{
    position: relative;

}
.modal{
    z-index: 100;
    position: absolute;
    width: 600px;
    height: 300px;
    background-color: red;
    display: none;
}
.modal.active{
    display: block;
}