.secret{
    position: relative;
    background-color: rgb(252, 252, 252);

}
.modal{
    z-index: 100;
    position: static;
    width: 100px;
    height: 50px;
    display: none;
}
.modal.active{
    display: block;
}
.list-secret{
    text-align: center;
}